<main id="main">
  <div id="container">
    <header>
      <h1><a href="https://seanfloyd.ca">Sean Floyd</a></h1>
      <div id="contact">
        <a href="https://github.com/SeanLF"><i class="fa fa-github">&nbsp;</i></a>
        &nbsp;
        <a href="https://ca.linkedin.com/in/floydsean"><i class="fa fa-linkedin">&nbsp;</i></a>
        &nbsp;
        <a href="http://stackoverflow.com/story/seanfloyd"><i class="fa fa-stack-overflow">&nbsp;</i></a>
        &nbsp;
        <a href="https://twitter.com/sfloy029"><i class="fa fa-twitter">&nbsp;</i></a>
        &nbsp;
        <a href="/email"><i class="fa fa-envelope-o">&nbsp;</i></a>
        <% if @show_contact_details %>
        <br>
        <tel>(613) 818-9597</tel>
        <br>
        <address>
          75-110 Stewart Street, Ottawa, Ontario, K1N 6J6, Canada
        </address>
        <% end %>
      </div>
    </header>
    <hr>
    <section id="education">
      <header>
        <span class="fa fa-lg fa-mortar-board"></span>
        <h2>education</h2>
      </header>
      <div>
        <h3>
          <em>M.Sc. in Computer Science</em>,
          <a href="http://uottawa.ca">University of Ottawa</a>
        </h3>
        <span class="tenure">2017-01 — present</span>
        <p>GPA: 10/10</p>
        <ul>
          <li>Working under the supervision of Dr. Herna Viktor (and co-supervision of Dr. Iluju Kiringa)</li>
          <li>FGPS admission scholarship (min. $15k/year)</li>
        </ul>
      </div>
      <div>
        <h3>
          <em>Honours B.Sc. with specialization in Computer Science</em>,
          <a href="http://uottawa.ca">University of Ottawa</a>
        </h3>
        <span class="tenure">2012-09 — 2016-12</span>
        <p>GPA: 8.4/10 (<small>3.7/4</small>)</p>
        <ul>
          <li>French &amp; Nortel Networks Admission scholarships</li>
          <li>Dean's Honour List (2nd year) - awarded to full-time students with yearly GPA of 8.5+/10</li>
        </ul>
      </div>
      <div>
        <h3>
          <em>Baccalauréat scientifique</em>, Académie de Caen</h3>
        <span class="tenure">2008-09 — 2012-06</span>
        <p>Obtained the French Baccalaureate in the scientific section with a specialization in Mathematics from the French Academy of Caen. Attended high school at the Lycée Claudel in Ottawa.</p>
      </div>
    </section>
    <hr>
    <section id="employment">
      <header>
        <span class="fa fa-lg fa-briefcase"></span>
        <h2>employment</h2>
      </header>
      <div>
          <h3>
            <em>Corrector</em>,
            <a href="https://uottawa.ca">University of Ottawa</a>
          </h3>
          <span class="tenure">2018-01 — 2018-04</span>
          |
          <span class="keywords">Big Data, Analytics, Cloud Computing, Data Preperation, Data Mining, Model Evaluation, Data Warehouse, Data Visualization
          </span>
          <p>Corrector for the 4th year undergraduate Introduction to Data Science course (CSI 4142).</p>
          <ul>
            <li>Correcting assignments, midterm and final project.</li>
            <li>Presenting a lecture on the entire lifecycle (data <i class="fa fa-arrow-right" aria-hidden="true"></i> data cube <i class="fa fa-arrow-right" aria-hidden="true"></i> data mining).</li>
          </ul>
        </div>
      <div>
        <h3>
          <em>Web Application Developer</em>,
          <a href="http://d3mradio.com">D3M Radios (Teldio)</a>
        </h3>
        <span class="tenure">2016-05 — 2016-09</span>
        |
        <span class="keywords">Ruby Rails JavaScript SQL SCSS Git Marionette
        </span>
        <p>Developed new features, maintained code, fixed bugs, participated in code review and <abbr title="quality assurance">QA</abbr> testing.</p>
        <ul>
          <li>NSERC: designed, architected and developed a proof of concept for a new core feature.<br>
            This feature would allow users to manage their network connections from within a diagram and a projects' bill of materials.</li>
          <li>Increased developer productivity by streamlining the code review process
            <ul>
              <li>wrote scripts to run static analysis tools during our <abbr title="continuous integration">CI</abbr> builds</li>
              <li>automatically commented issues on GitHub pull requests (ex: style guide violations, N+1 queries, missing migrations, etc)</li>
            </ul>
          </li>
          <li>Improved performance and response time by up to 50% after discovering and fixing numerous N+1 queries</li>
        </ul>
      </div>
      <div>
        <h3>
          <em>Junior Programmer</em>,
          <a href="http://parl.gc.ca">House of Commons of Canada</a>
        </h3>
        <span class="tenure">2015-09 — 2016-01</span>
        |
        <span class="keywords">VB.NET SQL JavaScript jQuery CSS
        </span>
        <p>Designed, architected, and developed a web service to integrate with the parliament&#39;s financial system as well as an interactive phishing quiz.</p>
        <ul>
          <li>Designed, developed and documented a WCF web service, database, and dashboard for log monitoring of the in-house financial system.</li>
          <li>Designed, architected and developed single page application with knockout.js and Bootstrap hosted on IIS for cyber-security awereness month.</li>
          <li>Performed maintenance requests on an in-house web-application.</li>
        </ul>
      </div>
      <div>
        <h3>
          <em>Contractor</em>,
          <a href="http://etixnow.com">etixnow</a>
        </h3>
        <span class="tenure">2015-07 — 2015-09</span>
        |
        <span class="keywords">HTML JavaScript CSS jQuery
        </span>
        <p>
          <p>Developed an administration panel for low memory linux touchscreen Point Of Sale mini kiosks, that runs in custom-built WebKit QT browser.</p>
          <p>Kiosks were used in brick-and-mortar stores to sell tickets to events including the Ottawa Jazz Festival, for which attendance averages around 300,000.</p>
        </p>
      </div>
      <div>
        <h3>
          <em>Programmer Analyst</em>,
          <a href="http://pmprb-cepmb.gc.ca">Patented Medicine Prices Review Board</a>
        </h3>
        <span class="tenure">2014-05 — 2015-05</span>
        |
        <span class="keywords">C# JavaScript CSS SQL TFS
        </span>
        <p>
          <p>Improved and maintained a .NET web application based on the MVC design pattern.</p>
        </p>
        <ul>
          <li>Single-handedly managed an internal web application used by 30 users for 6 weeks.</li>
          <li>Discovered and fixed issues in production data.</li>
          <li>Redesigned a custom report and achieved over 50% speedup.</li>
          <li>Applied concepts learned in class such as the MVC pattern and extreme programming.</li>
          <li>Resolved and cleaned up 85% of bugs and features in the product backlog.</li>
        </ul>
      </div>
      <div>
        <h3>
          <em>(Volunteer)</em>,
          <a href="http://ottawajazzfestival.com">Ottawa Jazz Festival</a>
        </h3>
        <span class="tenure">2009, 2011, 2012, 2014, 2015</span>
        <ul>
          <li>Started developing
            <a href="#projects">Jazzify</a>
            in January 2015.</li>
          <li>Scanning supervisor duties included: optimizing the gate setup for ticket scanning, closing the park, scanning troubleshooting, and ensuring customer satisfaction.</li>
          <li>Worked in the VIP tent. Duties included: barback, bartender, admissions, cashier, setting up tent space.</li>
        </ul>
      </div>
    </section>
    <hr>
    <section id="projects">
      <header>
        <span class="fa fa-lg fa-star"></span>
        <h2>projects</h2>
      </header>
      <div>
        <h3>
          <em>Co-author</em>,
          <a href="https://www.overleaf.com/read/mkmstzhcfxdk">An Exploratory Study of Oral and Dental Health in Canada</a>
        </h3>
        <span class="tenure">2017-01 - 2016-12</span>
        |
        <span class="keywords">Python R Latex SQL WEKA SQL_Server SSDT SSIS</span>
        <p>
          Published a paper at the <a href="http://www.icmla-conference.org/icmla17/">ICMLA 2017 conference</a> with 2 other students, under the supervision of <a href="http://www.site.uottawa.ca/~hlviktor/">Dr. Herna Viktor</a>. This paper is the result of a graduate level directed studies course on data warehousing.
        </p>
        <ul>
          <li>Acquired data from the <a href="http://www23.statcan.gc.ca/imdb/p2SV.pl?Function=getSurvey&Id=238854">Canadian Community Health Survey</a> provided by Statistics Canada.</li>
          <li>Used R, Python and Microsoft's ETL suite to build a data cube according to Kimball's data warehouse lifecycle framework.</li>
          <li>Performed an exploratory analysis of the data using WEKA's data mining tools.</li>
          <li>Presented our work, results and findings at the end of the semester in a presentation and report.</li>
        </ul>
      </div>
      <div>
        <h3>
          <em>Team Lead</em>,
          <a href="https://github.com/SeanLF/CSI4900">Honours Project</a>
        </h3>
        <span class="tenure">2016-09 - 2016-12</span>
        |
        <span class="keywords">Python CSS HTML Git Django</span>
        <p>
          Final semester honours project with 2 other students, supervised by <a href="http://www.site.uottawa.ca/~hlviktor/">Dr. Herna Viktor</a>.
        </p>
        <ul>
          <li>Implemented a web interface for an active learning classifier</li>
          <li>Researched state of the art techniques for text classification</li>
          <li>Researched approaches to improve accuracy while reducing the required quantity of labeled records</li>
          <li>Wrote a project report</li>
          <li>Presented our work, results and findings at the end of the semester</li>
        </ul>
      </div>
      <div>
        <h3>
          <em>Creator</em>,
          <a href="https://jazzify.ca">Jazzify</a>
        </h3>
        <span class="tenure">2015-01 — (now)</span>
        |
        <span class="keywords">Ruby Rails JavaScript SCSS SQL Git
        </span>
        <p>An open source Ruby on Rails web application to modernize the application process to volunteer at the Jazz Festival. Currently supports two-factor authentication and data analysis through custom reports. This project consists 100% of volunteer work.
        </p>
        <p>Jazzify has been used for two consecutive years to recruit new volunteers for the Ottawa Jazz Festival.</p>
        <p>To date, over 1,000 users have signed up.</p>
      </div>
    </section>
    <hr>
    <section id="technical-skills">
      <header>
        <span class="fa fa-lg fa-code"></span>
        <h2>Technical Skills</h2>
      </header>
      <div class="">
        <small><span>Listed in decreasing order of proficiency</span></small>
        <ul class="list-unstyled">
          <li><b>Programming Languages</b>
            <div class="languages">
            <span class="chip">Ruby</span>
            <span class="chip">JavaScript</span>
            <span class="chip">CSS/SCSS</span>
            <span class="chip">Python</span>
            <span class="chip">Git</span>
            <span class="chip">SQL</span>
            <span class="chip">HTML</span>
            <span class="chip">Java</span>
          </div></li>
          <li><b>Frameworks or Libraries</b>
            <div class="languages">
            <span class="chip">Rails</span>
            <span class="chip">OpenCV</span>
            <span class="chip">Bootstrap</span>
            <span class="chip">jQuery</span>
            <span class="chip">Material Design Lite</span>
            <span class="chip">Django</span>
            <span class="chip">Sinatra</span>
            <span class="chip">Underscore.js</span>
            <span class="chip">Backbone.js</span>
            <span class="chip">Marionette.js</span>
          </div></li>
          <li><b>Operating Systems</b>
            <div class="languages">
            <span class="chip">macOS</span>
            <span class="chip">Ubuntu</span>
            <span class="chip">Windows</span>
          </div></li>
          <li><b>DevOps</b>
            <div class="languages">
            <span class="chip">Digital Ocean</span>
            <span class="chip">Dokku</span>
            <span class="chip">Heroku</span>
            <span class="chip">Continuous Integration</span>
            <span class="chip">Continuous Delivery</span>
          </div></li>
        </ul>
      </div>
      <div class="">
        <small><span><b>NB</b>:&nbsp;the employment and project sections also indicate languages and technologies used.</span></small>
      </div>
    </section>
    <hr>
    <section id="references">
      <header>
        <span class="fa fa-lg fa-thumbs-o-up"></span>
        <h2>references</h2>
      </header>
      <div>
        <% if @show_contact_details %>
        <ul>
          <li>
            <span>Herna Viktor</span>
          </li>
          <li>
            <span>Erik Vilela</span>
          </li>
          <li>
            <span>Benoit Letourneau</span>
          </li>
          <li>
            <span>Sylvie Prud'homme</span>
          </li>
          <li>
            <span>Dan Acton</span>
          </li>
        </ul>
        <p>Contact information available upon request.</p>
        <% else %>
        Available upon request.
        <% end %>
      </section>
    </div>
  </div>
</main>
