<style>
  hr{
    margin-inline-start: initial;
    width: 13rem;
  }
</style>
<div>
  <h1>In Case of Emergency</h1>

  <h2>Contacts</h2>
  <ul>
    <li><label>Father:</label> <a href="tel:+ 1873-688-6083‬">+1 873-688-6083‬</a></li>
    <li><label>Mother:</label> <a href="tel:+ 1343-887-6777">+1 343-887-6777</a></li>
    <hr/>
    <li><label>OHIP:</label> <a href="tel:1-866-532-3161">1-866-532-3161</a></li>
    <li><label>World Nomads (N/A):</label> <a href="tel:1-866-878-0192">1-866-878-0192</a></li>
    <li><label>World Nomads (collect):</label> <a href="tel:+1 416-646-3723">+1 416-646-3723</a></li>
    <hr/>
    <li><label>HSBC:</label> <a href="tel:+1 636-722-7111">+1 636-722-7111</a></li>
  </ul>

  <h2>Super Duper Secret Key</h2>
  <p>
    A3<br/>
    D9V2DE<br/>
    ZVFF2G<br/>
    XTPYN<br/>
    PH64P<br/>
    DKGAQ<br/>
    Z6RCG<br/>
  </p>
</div>