<div id="wrapper">
  <div class="full_center">
    <div class="front-page-header clearfix">
      <img class="avatar pull-left" src="/vendor/seanfloyd.jpeg" width="100" alt="Sean Floyd">
      <h1>Sean Floyd</h1>
      <div class="pull-left">
        <a href="https://github.com/SeanLF">
          <i class="fa fa-github-square fa-2x"></i>
        </a>
        <a href="https://ca.linkedin.com/in/floydsean">
          <i class="fa fa-linkedin-square fa-2x"></i>
        </a>
        <a href="https://twitter.com/sfloy029">
          <i class="fa fa-twitter-square fa-2x"></i>
        </a>
        <a href="/email">
          <i class="fa fa-envelope-square fa-2x"></i>
        </a>
      </div>
    </div>
    <div class="front-page-content">
      <p>4th year Computer Science student at
        <a href="https://uottawa.ca"><img src="/vendor/University_of_Ottawa_Logo.svg" height="37px" id="uOttawaImage"/>uOttawa</a>
      </p>
      <p>
        Here's a copy of my
        <a href="/resume">résumé</a>.
      </p>
      <p><small>
        Built with <i class="fa fa-heart text-danger"><span class="sr-only">love</span></i>,
        Ruby &amp; Sinatra.</small></p>
      <!-- <p>Read my <a href="/blog">Blog</a></p> -->
    </div>
  </div>
</div>
