<div class="landing">
  <main>
    <div class="card">
      <div class="image">
        <picture class="image" alt="Sean posing in front of the Parliament in Ottawa">
        <source type="image/webp" srcset="/images/seanfloyd.webp">
        <source type="image/jpeg" srcset="/images/seanfloyd.jpg">
        <img src="seanfloyd.webp" class="image" alt="Sean posing in front of the Parliament in Ottawa">
        </picture>
        <span class="name">Sean Floyd</span>
      </div>
      <div class="text">
        <p>
          M.Sc. Computer Science graduate - uOttawa.
        </p>
        <p>
          My interests currently include machine learning research and software engineering.
        </p>
      </div>
      <div class="actions">
        <div class="action"><a href="/cv" title="Curriculum Vitae | Resume">CV</a></div>
        <div class="action"><a href="https://github.com/SeanLF" title="GitHub profile"><span class="show-icon-only">GitHub Profile</span><i class="fa fa-github"></i></a></div>
        <div class="action"><a href="https://ca.linkedin.com/in/floydsean" title="LinkedIn profile"><span class="show-icon-only">LinkedIn Profile</span><i class="fa fa-linkedin"></i></a></div>
        <div class="action"><a href="/travel" title="Travel Log"><span class="show-icon-only">Travel Log</span><i class="fa fa-plane"></i></a></div>
        <div class="action"><a href="/availability" title="Availability"><span class="show-icon-only">Availability</span><i class="fa fa-calendar"></i></a></div>
        <div class="action"><a href="/email" title="Email me"><span class="show-icon-only">Send me an email</span><i class="fa fa-envelope-o"></i></a></div>
      </div>
    </div>
  </main>
  <section id="timeline">
    <div class="timeline-block">
      <div class="timeline-img"><span class="fa fa-briefcase"></span></div>
      <div class="timeline-content">
        <div class="card">
          <div class="header">Back-End Engineer @ Hivebrite</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>August 2020 (current)</div>
          </div>
          <div class="text">
            <p>
              Relocation to Paris.
            </p>
          </div>
          <div class="details">
            Ruby Rails Elasticsearch Sidekiq Go React JS RSpec Cucumber Docker Semaphore CI Git SQL TDD
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-block">
      <div class="timeline-img"><span class="fa fa-globe"></span></div>
      <div class="timeline-content">
        <div class="card">
          <div class="header">Travel around the world</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>June 2019 to March 2020</div>
          </div>
          <div class="text">
            <p>
              Travelled Europe and Asia for 9 continuous months until the COVID-19 pandemic forced me to return earlier than planned.
            </p>
          </div>
          <div class="details">
            🇫🇷🇨🇭🇮🇹🇻🇦🇳🇱🇧🇪🇩🇰🇲🇨🇩🇪🇵🇱🇭🇺🇭🇷🇪🇸🇬🇮🇲🇦🇹🇷🇮🇳🇹🇭🇱🇦🇰🇭
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-block">
      <div class="timeline-img"><span class="fa fa-file-text"></span></div>
      <div class="timeline-content">
        <div class="card">
          <div class="header">Paper published @ nfMCP 2019</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>September 2019</div>
          </div>
          <div class="text">
            <p>
              Published a paper, titled "<a href="http://www.di.uniba.it/~loglisci/NFMCP2019/NFMCP/nfMCP2019_paper_2.pdf">Learning 
              from Evolving Streams via Self-Training Windowing Ensembles</a>",
              that resulted from my masters thesis at the <a href="http://www.di.uniba.it/~loglisci/NFMCP2019/">New 
              Frontiers in Mining Complex Patterns</a> conference.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-block">
      <div class="timeline-img"><span class="fa fa-graduation-cap"></span></div>
      <div class="timeline-content">
        <div class="card">
          <div class="header">Graduated M.Sc. in Computer Science</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>June 2019</div>
          </div>
          <div class="text">              
            <p>
              CGPA: 9.8/10
            </p>
            <p>
              Courses taken:
              <ul>
                <li>Data Mining and Concept Learning</li>
                <li>Distributed Databases and Transaction Processing</li>
                <li>Database Analysis and Design</li>
                <li>Principles of Distributed Computing</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-block">
      <div class="timeline-img"><span class="fa fa-briefcase"></span></div>
      <div class="timeline-content">
        <div class="card">
          <div class="header">Corrector @ the University of Ottawa</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>January to May 2018</div>
          </div>
          <div class="text">
            <p>
              Correcting assignments, midterm and final project for the Intro to Data Science Course (CSI 4142).
              Will be presenting up to two lectures.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-block">
      <div class="timeline-img"><span class="fa fa-file-text"></span></div>
      <div class="timeline-content">
        <div class="card">
          <div class="header">Paper published @ IEEE ICMLA 2017</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>December 2017</div>
          </div>
          <div class="text">
            <p>
              Published a paper, titled "An Exploratory Study of Oral and Dental Health in Canada", that resulted from
              a graduate level course project.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-block">
      <div class="timeline-img"><span class="fa fa-graduation-cap"></span></div>
      <div class="timeline-content">
        <div class="card">
          <div class="header">Graduated Hons B.Sc. Computer Science (CO-OP)</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>December 2016</div>
          </div>
          <div class="text">
            <p>
              CGPA: 8.4/10 (<small>3.7/4</small>)
            </p>
            <p>
              4th year electives included:
              <ul>
                <li>Information Retrieval and the Internet</li>
                <li>Introduction to Artificial Intelligence</li>
                <li>Methods in Image Processing</li>
                <li>Real-Time Systems Design</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-block">
      <div class="timeline-img"><span class="fa fa-briefcase"></span></div>
      <div class="timeline-content">
        <div class="card">
          <div class="header">Full-Stack Engineer @ Teldio</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>May to August 2016</div>
          </div>
          <div class="text">
            <p>Developed new features, maintained code, fixed bugs, reviewed code and participated in testing.</p>
          </div>
          <div class="details">
            Ruby Rails JavaScript CoffeeScript Backbone Marionette jQuery SCSS SQL Git
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-block">
      <div class="timeline-img"><span class="fa fa-briefcase"></span></div>
      <div class="timeline-content">
        <div class="card">
          <div class="header">Software Engineer @ House of Commons</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>September to December 2015</div>
          </div>
          <div class="text">
            <p>
              Designed, architected, and developed a web service to integrate with the parliament's financial system as
              well as an interactive phishing quiz.
            </p>
          </div>
          <div class="details">
            VB.NET SQL WCF JavaScript knockout.js Kendo UI jQuery CSS .htx files MS Access SSRS TDD
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-block">
      <div class="timeline-img"><span class="fa fa-ellipsis-v"></span></div>
      <div class="timeline-content">
        <div class="card">
          <div class="header">Head over to my <a href='/cv' class='nothing'>CV</a> to see more!</div>
          <div class="details no-text">
            <i class="fa fa-plane">&nbsp;</i>
            <p>Countries I've lived in: Canada, Germany, Morocco, &nbsp;<u>South</u>&nbsp;Korea, USA</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
