<div class="landing">
  <div class="card">
    <div class="image">
      <span class="empty-flex-grow"></span>
      <span class="name">Sean Floyd</span>
    </div>
    <div class="text">
      <p>
        M.Sc. in Computer Science student at uOttawa.
      </p>
      <p>
        My interests currently include AI and data mining.
      </p>
    </div>
    <div class="actions">
      <div><a href="/cv">CV</a></div>
      <div><a href="https://github.com/SeanLF"><i class="fa fa-github"></i></a></div>
      <div><a href="https://ca.linkedin.com/in/floydsean"><i class="fa fa-linkedin"></i></a></div>
      <div><a href="https://twitter.com/sfloy029"><i class="fa fa-twitter"></i></a></div>
      <div><a href="/email"><i class="fa fa-envelope-o"></i></a></div>
    </div>
  </div>

  <section id="timeline">
  <div class="timeline-block">
			<div class="timeline-img"><span class="fa fa-graduation-cap"></span></div>
			<div class="timeline-content">
        <div class="card">
          <div class="header">M.Sc. in Computer Science</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>January 2017</div>
          </div>
          <div class="text">
            <p>
              CGPA: 10/10
            </p>
            <p>
              Courses taken:
              <ul>
                <li>Data Mining and Concept Learning</li>
                <li>Distributed Databases and Transaction Processing</li>
                <li>Database Analysis and Design</li>
              </ul>
            </p>
          </div>
        </div>
			</div>
		</div>
		<div class="timeline-block">
			<div class="timeline-img"><span class="fa fa-graduation-cap"></span></div>
			<div class="timeline-content">
        <div class="card">
          <div class="header">Graduated H. B.Sc. Computer Science (CO-OP)</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>December 2016</div>
          </div>
          <div class="text">
            <p>
              CGPA: 8.4/10 (<small>3.7/4</small>)
            </p>
            <p>
              4th year electives included:
              <ul>
                <li>Information Retrieval and the Internet</li>
                <li>Introduction to Artificial Intelligence</li>
                <li>Methods in Image Processing</li>
                <li>Real-Time Systems Design</li>
              </ul>
            </p>
          </div>
        </div>
			</div>
		</div>
    <div class="timeline-block">
			<div class="timeline-img"><span class="fa fa-briefcase"></span></div>
			<div class="timeline-content">
        <div class="card">
          <div class="header">Web Application Developer @ Teldio</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>May to August 2016</div>
          </div>
          <div class="text">
            <p>Developed new features, maintained code, fixed bugs, reviewed code and participated in testing.</p>
          </div>
          <div class="details">
            Ruby Rails JavaScript CoffeeScript Backbone Marionette jQuery SCSS SQL Git
          </div>
        </div>
			</div>
		</div>
    <div class="timeline-block">
			<div class="timeline-img"><span class="fa fa-briefcase"></span></div>
			<div class="timeline-content">
        <div class="card">
          <div class="header">Junior Programmer @ House of Commons</div>
          <div class="subheader">
            <div class="date"><i class="fa fa-clock-o">&nbsp;</i>September to December 2015</div>
          </div>
          <div class="text">
            <p>
              Designed, architected, and developed a web service to integrate with the parliament's financial system as well as an interactive phishing quiz.
            </p>
          </div>
          <div class="details">
            VB.NET SQL WCF JavaScript knockout.js Kendo UI jQuery CSS .htx files MS Access SSRS TDD
          </div>
        </div>
			</div>
		</div>
    <div class="timeline-block">
      <div class="timeline-img"><span class="fa fa-ellipsis-v"></span></div>
			<div class="timeline-content">
        <div class="card">
          <div class="header">Head over to my CV to see more!</div>
          <div class="details no-text">
            <i class="fa fa-plane">&nbsp;</i>
            <p>Countries I've lived in: Canada, Germany, Morocco, &nbsp;<u>South</u>&nbsp;Korea, USA</p>
          </div>
        </div>
			</div>
		</div>
	</section>
</div>
