<main id="main">
  <div id="container">
    <header>
      <h1>Sean Floyd</h1>
      <div id="contact">
        <a href="https://github.com/SeanLF">
          <i class="fa fa-github">&nbsp;</i>GitHub</a>
        &nbsp;
        <a href="https://ca.linkedin.com/in/floydsean">
          <i class="fa fa-linkedin-square">&nbsp;</i>LinkedIn</a>
        &nbsp;
        <a href="https://careers.stackoverflow.com/seanfloyd">
          <i class="fa fa-stack-overflow">&nbsp;</i>StackOverflow Careers</a>
        &nbsp;
        <a href="http://stackoverflow.com/users/3502867/sean-f">
          <i class="fa fa-stack-overflow">&nbsp;</i>StackOverflow</a>
        &nbsp;
        <a href="https://twitter.com/sfloy029">
          <i class="fa fa-twitter">&nbsp;</i>Twitter</a>
        <br/>
        <a href="/email">
          <i class="fa fa-envelope-o">&nbsp;</i>Email</a>
      </div>
    </header>
    <hr>
    <section id="employment">
      <header>
        <span class="fa fa-lg fa-building"></span>
        <h2>employment</h2>
      </header>
      <div>
        <h3>
          <em>Junior Programmer</em>,
          <a href="http://parl.gc.ca">House of Commons of Canada</a>
        </h3>
        <span class="tenure">2015-09 — 2016-01</span>
        |
        <span class="keywords">VB.NET SQL WCF JavaScript knockout.js Kendo UI jQuery CSS .htx files MS Access SSRS TDD
        </span>
        <p>
          <p>Designed, architected, and developed a web service to integrate with the parliament&#39;s financial system as well as an interactive phishing quiz.</p>
        </p>
        <ul>
          <li>Designed, developed and documented a WCF web service, database, and dashboard for logging monitoring of their in-house financial system.</li>
          <li>Designed, architected and developed single page application with knockout.js and Bootstrap hosted on IIS.</li>
          <li>Performed maintenance requests on in-house web-application (MS HTML-extension files).</li>
        </ul>
      </div>
      <div>
        <h3>
          <em>Contractor</em>,
          <a href="http://etixnow.com">etixnow</a>
        </h3>
        <span class="tenure">2015-07 — 2015-09</span>
        |
        <span class="keywords">PHP HTML JavaScript CSS Bootstrap jQuery
        </span>
        <p>
          <p>Developed an administration panel for low memory linux touchscreen Point Of Sale mini kiosks, that runs in custom-built WebKit QT browser.</p>
        </p>
        <ul>
          <li>Implemented the panel despite vague requirements and a lack of code comments to direct me.</li>
          <li>Worked remotely.</li>
        </ul>
      </div>
      <div>
        <h3>
          <em>Programmer Analyst</em>,
          <a href="http://pmprb-cepmb.gc.ca">Patented Medicine Prices Review Board</a>
        </h3>
        <span class="tenure">2014-05 — 2015-05</span>
        |
        <span class="keywords">ASP.NET C# MVC JavaScript Telerik jQuery CSS MS SQL
        </span>
        <p>
          <p>Improved and maintained a .NET web application based on the MVC design pattern.</p>
        </p>
        <ul>
          <li>Managed an internal web application used by 30 users for several weeks alone.</li>
          <li>Discovered and fixed issues in production data.</li>
          <li>Redisigned custom report and achieved over 50% speedup.</li>
          <li>Applied concepts learned in class such as the Model View Controller pattern and extreme programming.</li>
        </ul>
      </div>
      <div>
        <h3>
          <em>(Volunteer)</em>,
          <a href="http://ottawajazzfestival.com">Ottawa Jazz Festival</a>
        </h3>
        <span class="tenure">2009, 2011, 2012, 2014, 2015</span>
        <ul>
          <li>Started developing
            <a href="#projects">Jazzify</a>
            in January 2015.</li>
          <li>Scanning supervisor duties included: optimizing the gate setup for ticket scanning, closing the park, scanning troubleshooting & ensuring customer satisfaction.</li>
          <li>Worked in the VIP tent. Duties included: barback, bartender, admissions, cashier, setting up tent space.</li>
        </ul>
      </div>
    </section>
    <hr>
    <section id="education">
      <header>
        <span class="fa fa-lg fa-mortar-board"></span>
        <h2>education</h2>
      </header>
      <div>
        <h3>
          <em>Honours BSc w/ specialization in Computer Science</em>, University of Ottawa</h3>
        <span class="tenure">2012-09 — 2016-12</span>
        <p>Currently a fourth year computer science student. Winter 2016 courses include:
          <a href="http://www.site.uottawa.ca/~diana/csi4107/index.html">
            <i>Information Retrieval and the Internet</i>
          </a>,
          <a href="http://www.site.uottawa.ca/~garbez/ceg4166/">
            <i>Real-Time Systems Design</i>
          </a>,
          <a href="http://www.uottawa.ca/academic/info/regist/calendars/courses/SEG.html#SEG3904">
            <i>Innovation Research Project</i>
          </a>, and
          <a href="http://www.uottawa.ca/academic/info/regist/calendars/courses/MAT.html#MAT2724">
            <i>Differential Equations</i>
          </a>.</p>
      </div>
      <div>
        <h3>
          <em>Baccalauréat scientifique</em>, Académie de Caen</h3>
        <span class="tenure">2008-09 — 2012-06</span>
        <p>Obtained the French Baccalaureate in the scientific section with a specialization in Mathematics from the French Academy of Caen. Attended high-school at the Lycée Claudel in Ottawa.</p>
      </div>
      <div>
        <strong>Codacademy</strong>
        <br/>
        <span class="tenure">2013-03 — 2015-11</span>
        <p>Introductory level programming courses (HTML & CSS, jQuery, Ruby).</p>
      </div>
    </section>
    <hr>
    <section id="projects">
      <header>
        <span class="fa fa-lg fa-star"></span>
        <h2>projects</h2>
      </header>
      <div>
        <h3>
          <em>Creator</em>,
          <a href="https://jazzify.ca">Jazzify</a>
        </h3>
        <span class="tenure">2015-01 — (now)</span>
        |
        <span class="keywords">Ruby on Rails JavaScript Sass SQL Digital Ocean PostgreSQL Dokku jQuery CSS HTML 5 Chart.js Git
        </span>
        <p>An open source Ruby on Rails web application to modernize the application process to volunteer at the Jazz Festival. Currently supports two-factor authentication and data analysis through custom reports. This project consists 100% of volunteer work.
        </p>
      </div>
    </section>
    <hr>
    <section id="samples">
      <header>
        <span class="fa fa-lg fa-share"></span>
        <h2>samples</h2>
      </header>
      <div>
        <h3>
          <a href="https://github.com/SeanLF/check_for_changes">Check for changes</a>
        </h3>
        <span class="tenure">2015-05</span>
        <p>OS X daemon bash script to check a website for changes and notify the user via Pushbullet. Useful for course websites that require students to manually check and detect changes.</p>
      </div>
    </section>
    <hr>
    <section id="references">
      <header>
        <span class="fa fa-lg fa-thumbs-o-up"></span>
        <h2>references</h2>
      </header>
      <div>
        <ul>
          <li>
            <h3>Erik Vilela</h3>
          </li>
          <li>
            <h3>Benoit Letourneau</h3>
          </li>
          <li>
            <h3>Sylvie Prud'homme</h3>
          </li>
          <li>
            <h3>Dan Acton</h3>
          </li>
        </ul>
        <p>Contact information available upon request.</p>
      </section>
    </div>
  </div>
</main>
